html {
	box-shadow: none !important;
}

body {
	margin: 0;
	box-shadow: none !important;
}

#controls {
    position: fixed;
    z-index: 99999999999;
    left: 0;
    bottom: 0;
}
#controls input {
    display: inline-block;
    border: 1px solid #b1b1b1;
    padding: 3px 6px;
    border-radius: 2px;
}




#editElementCont {
	display: none;
	position: fixed;
	z-index: 99999999999999;
	left: 50%;
	padding: 7px 11px 9px;
	width: 210px;
	transform: translateX(-50%);
	box-shadow: 0 0 1px black;
	background: rgba(255, 255, 255, 0.93);
}
#editElementCont > div {
    
}
#editElementCont > div:last-child {
    margin-top: 11px;
}
#editElementCont > div:last-child button {
    width: auto;
}
#editElementCont > div > input,
#editElementCont > div > textarea {
	display: inline-block;
	vertical-align: middle;
	margin: 2px 0;
	width: 77%;
	height: 14px;
	/* border: 1px solid #cacaca; */
}
#editElementCont > div > button {
	display: inline-block;
	width: 20%;
}





#labels {
    
}
#labels > div {
    position: absolute;
    z-index: 1;
}
#labels > div > div {
    display: table-cell;
    border-style: solid;
    border-color: white;
    border-width: 0;
    font-size: 8px;
    font-weight: bold;
    color: #ff6200;
}
#labels > div > div+div {
    border-width: 0 0 0 2px;
}






#layout {
	box-shadow: 0 0 1px 0px #adadad;
}

#layout * {
	padding: 5px;
	box-shadow: 0 0 1px 0px #adadad;
}
#layout ul {
	padding-left: 30px;
}