html {
	box-shadow: none !important;
}

body {
	margin: 0;
	box-shadow: none !important;
}

#controls {
    position: fixed;
    z-index: 99999999999;
    left: 0;
    bottom: 0;
}




#editElementCont {
	display: none;
	position: fixed;
	z-index: 99999999999999;
	left: 50%;
	padding: 7px 11px 13px;
	width: 210px;
	transform: translateX(-50%);
	box-shadow: 0 0 1px black;
	background: rgba(255, 255, 255, 0.93);
}
#editElementCont > div {
    
}
#editElementCont > div:last-child {
    margin-top: 11px;
}
#editElementCont > div > input,
#editElementCont > div > textarea {
	display: inline-block;
	vertical-align: middle;
	margin: 4px 0;
	width: 74%;
	height: 15px;
}
#editElementCont > div > button {
	display: inline-block;
	width: 21%;
}





#labels {
    
}
#labels > div {
    position: fixed;
}
#labels > div > div {
    display: table-cell;
    border-style: solid;
    border-color: white;
    border-width: 0;
    font-size: 8px;
}
#labels > div > div+div {
    border-width: 0 0 0 2px;
}






#layout {
	border: 1px solid #adadad;
}

#layout * {
	padding: 8px;
	box-shadow: 0 0 1px 0px #adadad;
}